<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/style.css">
        
        <title>
            StoryBooks
        </title>
    </head>
    <body>
        {{> header}}
        {{#if user}}
            {{> add-btn}}
        {{/if}}
        <main>
            <div class="container">
                {{{body}}}                
            </div>            
        </main>
        
        {{> footer}}
        
        <!-- Compiled and minified JavaScript -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <script src="https://cdn.ckeditor.com/4.8.0/standard/ckeditor.js"></script>
        
        <script>
            $(document).ready(() => {
                $('.button-collapse').sideNav();
                $('select').material_select();
            });
            
            // Replace any textarea with a name 'body' 
            // to CKEDITOR wysiwyg editor
            CKEDITOR.replace('body', {
                plugins: 'wysiwygarea,toolbar,basicstyles,link'
            });
        </script>
    </body>
</html>
