<h1>Welcome</h1>
<p>Welcome To StoryBooks 1.0.0</p>
<p>Post stories from in public or in private manner</p>
{{#if user}}                  
{{else}}
     <a class="red darken-1 btn" href="auth/google">
        <i class="fa fa-google"></i>Login With Google
     </a>
{{/if}}